@if (!showResults) {
  <div 
    class="file-drop-zone"
    (drop)="onFileDrop($event)"
    (dragover)="onDragOver($event)"
  >
    <input 
      type="file" 
      id="fileInput" 
      (change)="onFileSelected($event)" 
      hidden
    >
    <button matFab extended (click)="fileInput.click()" color="primary" aria-label="Upload file"  class="upload-btn-tall">
      <mat-icon>upload</mat-icon>
      Upload CSV file
    </button>
    
    <div class="drop-text">Drag & Drop your CSV file here or click the icon</div>
  </div>
  <input #fileInput type="file" (change)="onFileSelected($event)" hidden>
} @else {
  <div class="results-view">
    <div class="results-bar">
      <span>CSV Validation Results</span>
      <div>
        <mat-icon style="color: navy;" (click)="closeResults()">reply all</mat-icon>
      </div>
    </div>
    

      <div class="results-table-container">
        @if(hasErrors) {
      <div class="error-summary">
        <mat-icon [ngStyle]="{'color':'red'}">error</mat-icon>
        <span>Validation completed with errors. Please review the issues below.</span>
      </div>
    } @else {
      <div class="success-summary">
        <mat-icon [ngStyle]="{'color':'green'}">check_circle</mat-icon>
        <span>Validation completed successfully. No issues found!</span>
      </div>
    }

    @if(hasErrors) {
    
        <table class="results-table">
        <thead>
          <tr>
            <th>Line #</th>
            <th>Issues</th>
            @for (fieldName of header; track fieldName) {
              <th>{{ fieldName }}</th>
            }
            <th class="raw-header">Raw</th>
          </tr>
        </thead>
        <tbody>
          @for (line of csvLines.slice(1); let i = $index; track i) {
            @if (getIssuesForLine(i + 2).length > 0) {
              <tr>
                <td>{{ i + 2 }}</td>
                <td>
                  <ul>
                    @for (issue of getIssuesForLine(i + 2); track issue) {
                      <li>
                        <span class="field-error">{{ issue.error }}</span>
                      </li>
                    }
                  </ul>
                </td>
                @for (fieldName of header; let j = $index; track j) {
                  <td [class.field-error-cell]="hasFieldError(i + 2, j)">
                    <pre class="field-pre">{{ originalFieldsRows[i + 1][j] }}</pre>
                  </td>
                }
                <td class="raw-cell-container">
                  <pre class="raw-cell">{{ line }}</pre>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    }
      </div>

  </div>
}